body
{
background-color: #5d79a6;
font-size: 50px;
}


#container
{
	width: 1000px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#title
{
	background-color: #495f82;
	border: 10px;
	width: 980px;
	height: 50px;
	text-align: center;
	color: black;
	padding-top: 22.5px;
	padding-bottom: 22.5px;
}

.buttonBlock
{
	float: left;
	background-color: #5da67f;
	margin: 10px;
	width: 470px;
	height: 50px;
	text-align: center;
	padding-bottom: 90px;
	padding-top: 90px;

}

.buttonBlock:hover
{
	background-color: #74cf9e;
	cursor: pointer;
}